# Wide World Importers – Customer Analytics

In this notebook, we have a series of SQL statements that we use to do some basic analysis on our customers.

 Our plan is to learn the following things about our customers: 

- Total customers 
- Top level customer sales 
- Total sales in January 2015

In [ ]:
SELECT COUNT(*) FROM Dimension.Customer;

In [ ]:
SELECT TOP(10) * FROM Dimension.Customer;

In [ ]:
SELECT [Bill To Customer], COUNT(*) AS [Customer Count] FROM Dimension.Customer GROUP BY [Bill To Customer]

In [ ]:
SELECT customer.[Bill To Customer]
, COUNT(distinct customer.[Customer Key]) AS [Customer Count]
, SUM (orders.[Total Excluding Tax]) AS [Total Pretax Sales] 
FROM Dimension.Customer customer INNER JOIN Fact.[Order] orders on customer.[Customer Key] = orders.[Customer Key] 
GROUP BY [Bill To Customer]

In [1]:
SELECT [Order Date Key]
, SUM ([Total Excluding Tax]) As [Total Pretax Sales] 
FROM Fact.[Order] 
WHERE [Order Date Key] between '1/1/2015' and '1/31/2015'
GROUP BY [Order Date Key]

Order Date Key,Total Pretax Sales
2015-01-19,286488.75
2015-01-17,38344.90
2015-01-24,95161.40
2015-01-23,108285.10
2015-01-30,164262.80
2015-01-12,125365.80
2015-01-27,311953.40
2015-01-09,142852.35
2015-01-02,135897.70
2015-01-16,105301.85
2015-01-05,241029.45
2015-01-22,176309.35
2015-01-20,115974.25
2015-01-15,113173.65
2015-01-01,236949.75
2015-01-08,179460.30
2015-01-21,312967.30
2015-01-28,205910.65
2015-01-31,128734.00
2015-01-14,296651.20
2015-01-13,200506.55
2015-01-03,49442.75
2015-01-07,136597.95
2015-01-10,53779.95
2015-01-06,149342.30
2015-01-26,241209.00
2015-01-29,204112.80